* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(242,242,242);  
    margin: 5vh;
}

#container {
    margin: auto;
    width: 672px;
    height: 672px;
    border: solid;
    box-sizing: content-box;

    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;

 
    
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid black;
    width: 6.25%;
    height: 6.25%;
    background-color: white;
    font-weight: 900;
    
    color: rgba(14, 22, 12, 0.075);
    font-size: 1em;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

