* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(242,242,242);  
}

#container {
    margin: auto;
    width: 800px;
    height: 800px;
    border: solid;
    box-sizing: content-box;

    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;

 
    
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid black;
    width: calc(100%/16);
    height: calc(100%/16);
    background-color: white;
    font-weight: 900;
    
    color: rgba(14, 22, 12, 0.075);
    font-size: 1rem;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
}

.hovered{
    background-color: black;
}

#header {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

  font: inherit;
  background-color: #f8f8f8;
  border: 0;
  color: #09090933;
  border-radius: 0.5em;
  font-size: 1.5em;
  padding: 1rem 6rem;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #5a545414, 0 0.0625em 0 0 #efefef, 0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede, 0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #34323252;
  transition: 0.15s ease;
  cursor: pointer;
  margin: 2rem;
}

button:active, button:hover {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef, 0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede, 0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
  cursor: pointer;
}

