* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(242,242,242);  
}

#container {
    margin: auto;
    width: 800px;
    height: 800px;
    border: solid;
    box-sizing: content-box;
    margin-bottom: 2.5rem;

    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;

 
    
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid black;
    width: calc(100%/32);
    height: calc(100%/32);
    background-color: white;
    font-weight: 900;
    
    color: rgba(14, 22, 12, 0.075);
    font-size: 1rem;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
}

.hovered{
    background-color: black;
}

#clearDiv {
    display: flex;
    justify-content: center;
}

#refresh {
    display: flex;
    justify-content: center;
    align-items: center;

    font: inherit;
    background-color: #f8f8f8;
    border: 0;
    color: #09090933;
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 1rem 6rem;
    font-weight: 600;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #5a545414, 0 0.0625em 0 0 #efefef, 0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede, 0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #34323252;
    transition: 0.15s ease;
    cursor: pointer;
    margin: 2rem;
}

#refresh:active, #refresh:hover {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef, 0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede, 0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
    cursor: pointer;
}

#sizeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 0.5rem;
}

#value {
    font-size: 6rem;
}

#resize {
    text-align: middle;
    padding: 0.3rem 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: #ce141400;
    border-radius: 1em;
    box-shadow: inset 0px -2px 2px 0.5px rgb(0 0 0 / 0.8);
}

 #resize:hover {
    background-color: black;
    color: white;
    /* translate: 0 0.225em; */
    /* box-shadow: inset 0 0.03em 0 0 #4b4b4b, 0 0.03em 0 0 #515050, 0 0.0625em 0 0 #717171, 0 0.125em 0 0 #454545, 0 0.125em 0 0 #494949, 0 0.2em 0 0 #535353, 0 0.225em 0 0 #444444, 0 0.225em 0.375em 0 #393939; */
    cursor: pointer;
}
